streamlit==1.0.0
requests==2.24.0
numpy==1.19.2
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.8.1+cpu
torchvision==0.9.1+cpu
fastai>=2.3.1
googletrans==4.0.0-rc1
spacy==2.2.4
streamlit-drawable-canvas==0.8.0
plotly==5.3.1
